body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: white;

  background-color: white;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  background-color: #f4f7f9;
}

.top-bar {
  background-color:#293449;
  border-color: : transparent;
}

.top-bar a {
  color: white;
  font-size:17px;
}

.bookmark:hover,
.busket:hover {
  color: rgba(255, 255, 255, 0.6);
}

.order {
  background-color:#63a63e;
  text-align: center;
  vertical-align: middle;
}

.order:hover {
  background-color:#5fbb2d;
}

.order:active {
  background-color:#518534;
}

.logo {
  background-color:#ee3643;
  text-align: center;
  vertical-align: middle;
}

.search {
  background-color:#293449;
}

.search::placeholder {
  color: white;
}

.search:focus {
  color:black;
  background-color:white;
}

.header-info h1 {
  font: inherit;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
}

.header-info a {
  color: black;
  font-size: 21px;
}

.header-info .adress {
  color: #32425c;
  font-size: 14px;
}

.header-info .phone-header {
  color: #ee3643;
  font-size: 21px;
}

.login-link,
.registration-link {
  background-color: white;
}

.login-link:hover,
.registration-link:hover {
  color: #ee3643;
}

.login-link:focus,
.registration-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

nav {
  background-color: #293449;
}

nav ul {
  list-style: none;
}

nav a {
  color: white;
}

nav li:hover {
  background-color: #32425c;
}

nav li:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/*HEADER END*/

/*INDEX MAIN START*/
.page-main-index {
  color: black;
}

.materials-icon,
.instruments-icon,
.machines-icon,
.sale-icon,
.delivery-icon {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: white;
  width: 300px;
  height: 123px;
}

.icons-top a,
.icons-bottom a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

.materials-icon {
  background-color: #ffbf47;
}

.instruments-icon {
  background-color: #3bbce3;
}

.machines-icon {
  background-color: #dc91d8 ;
}

.sale-icon {
  background-color: #8ed78f;
}

.delivery-icon {
  background-color: #ffc047 ;

.materials-icon a {
  background-color: #ffbf47;
}

.instruments-icon a {
  background-color: #3bbce3;
}

.machines-icon a {
  background-color: #dc91d8 ;
}

.sale-icon a {
  background-color: #3bbce3;
}

.open-catalog {
 background-color: #ee3643;
 color: black;
}

.popular-items {
  color: black;
}

.popular-items h2 {
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.slider-1 {
  list-style: none;
}

.lalala {
  color: red;
}
/*INDEX MAIN END*/

/*CATALOG*/
.breadcrumbs a {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: black;
}

.page-main h1 {
  background-color:#f2f6f8;
  color: #32425c;
  text-transform: uppercase;
  font: inherit;
  font-size: 30px;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.catalog-category {
  font-size: 18px;
  color: black;
}

.sale-price {
  font-size: 17px;
  color:#999999;
  text-decoration: line-through;
}

.catalog-item-price {
  font-size: 17px;
  color: white;
  background-color: #ee3643;
}

.on-hover {
  text-transform: uppercase;
}

.buy-button {
  background-color:#63a63e;
  color: white;
  box-shadow: 0px 3px #367315;
}

.bookmark-button {
  background-color:white;
  border: 3px solid #63a63e;
  color: #32425c;
}

.buy-button:hover {
  background-color:#5fbb2d;
}

.buy-button:active {
  background-color:#518534;
  box-shadow: none;
}

.bookmark-button:hover {
  border: 3px solid #32425c;
}

.bookmark-button:active {
  opacity: 0.3;
}



/*CATALOG END*/




.about,
.contacts {
  font: inherit;
  color: black;
  background-color: white;
}

.about h2,
.contacts h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.about p,
.contacts p {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}

.about ul {
  list-style:none;
  font: inherit;
  font-weight: 500;
  line-height: 24px;
}

.about .button,
.contacts .button {
  background-color:#ee3643;
  color: white;
}


/*FOOTER*/
footer {
  background-color: #32425c;
}

.footer-top a {
  color: white;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom a {
  color: #ffd180;
  font:inherit;
  font-size:16px;
}

.adress-phone {
  color: #f3f7f9;
}

.footer-menu,
.footer-social {
  list-style: none;
}

.footer-menu li {
  color:#f1f5f7;
}

.footer-menu .colored {
  color:#ffd180;
}

.footer-bottom p {
  font:inherit;
  font-size:16px;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  opacity: 0.5;
  text-decoration: none;
}

/*FOOTER END*/
