body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: white;

  background-color: white;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  background-color: #f4f7f9;
}

.container-service,
.container-about,
.container-footer-top,
.container-footer-bottom {
  margin: 0px 130px 0px 130px;
}

.container {
  width: 940px;
  margin:  0 auto;
}

/*HEADER*/
/*Верхняя часть хедера*/

.top-bar {
  background-color:#293449;
}

.top-bar .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.top-bar a {
  color: white;
  font-size:17px;
}

.order {
  background-color:#63a63e;
  text-align: center;
  vertical-align: middle;

  padding: 14px 22px 13px 20px;
}

.order:hover {
  background-color:#5fbb2d;
}

.order:active {
  background-color:#518534;
}

.logo {
  background-color:#ee3643;
  background-image: url(../img/logo-top.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  vertical-align: middle;

  width: 220px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.24);
}

.logo:hover {
  background-color:#ca2c37;
}

.logo:active {
  background-color:#ba2732;
}

.bookmark {
  flex-basis: 163px;
}

.basket {
  flex-basis: 163px;
}

.search {
  background-color:#293449;
  flex-basis: 285px;
  border: none;
}

.search::placeholder {
  color: white;
}

.search:hover {
  background-color:#212a3a;
}

.search:focus {
  color:black;
  background-color:white;
}

.bookmark:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmark:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.catalog-busket {
  background-color:#ee3643;
}

.catalog-busket:hover {
  background-color: #ca2c37;
}

.catalog-busket:active {
  background-color: #ba2732;
  color: rgba(255, 255, 255, 0.6);
}

/*Верхняя часть хедера КОНЕЦ*/

/*Средняя часть хедера*/

.header-info .container {
  display: flex;
  align-items:center;
  padding-top:46px;
  padding-bottom:44px;
}

.header-info h1 {
  font: inherit;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;

  padding-left:53px;
  padding-right:71px;
  white-space: nowrap;
}

.header-info a {
  color: black;
  font-size: 21px;
}

.header-info .adress {
  color: #32425c;
  font-size: 14px;
  margin: 0px;

}

.adress-tel {
  margin: 0px;
  padding:0px;

  text-align: center;
}

.adress-tel div {
  width: 270px;
  height: 45px;
  border: 3px solid white;
}

.adress-tel .phone-header {
  color: #ee3643;
  font-size: 21px;
  text-align: center;

  margin-bottom: 10px;
}

/*для Каталога*/
.header-info .order-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-info .cabinet-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-info .user-name {
  font-size: 21px;
  line-height: 21px;
  color: black;
  background-color: white;

  padding: 14px 69px 11px 47px;
  margin-top: 46px;

  border: 2px solid red;
}

.login-area-bottom {
  display: flex;
}

.login-area-top {
  display: flex;
}

.header-info .order-link:hover {
  color:#ee3643;
  text-decoration: none;
}

.header-info .cabinet-link:hover {
  color:#ee3643;
  text-decoration: none;
}

.header-info .order-link:active {
  opacity: 0.3;
}

.header-info .cabinet-link:active {
  opacity: 0.3;
}

.header-info .user-name:hover {

}

.header-info .user-name:active {
  opacity: 0.3;
}

/*для Каталога КОНЕЦ*/

.header-login {
  display: flex;
}

.header-login div:nth-child(1) {
  width: 121px;


  margin-left:69px;
}

.header-login div:nth-child(2) {
  width: 150px;


  margin-left: 10px;
}

.login-link {
  background-color: white;
  padding: 13px 27px 12px 48px;

}

.registration-link {
  background-color: white;
  padding: 14px 25px 11px 25px;
}

.login-link:hover,
.registration-link:hover {
  color: #ee3643;
}

.login-link:focus,
.registration-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

/*Средняя часть хедера КОНЕЦ*/


/*Нижняя часть хедера Меню*/

nav {
  padding-bottom: 60px;
}

nav .container {
  background-color: #293449;

  display: flex;
  align-items: center;
  justify-content: space-between;
}



nav a {
  color: white;

  padding-top: 22px;
  padding-bottom: 23px;
  padding-right: 32px;
  padding-left: 32px;
}

nav a:hover {
  background-color: #32425c;
}

nav a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
/*Нижняя часть хедера Меню Конец*/
/*HEADER END*/

/*INDEX MAIN START*/
.page-main-index {
  color: black;
}

/*Большие иконки и слайдер*/
.icons-top {
  display: flex;
  padding-top:59px;
}

.icons-top p {
  margin:0px;
  margin-left: 23px;
  margin-top: 26px;
}

.materials-icon,
.instruments-icon,
.machines-icon,
.sale-icon,
.delivery-icon {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}

.icons-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.icons-top a,
.icons-bottom a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

.icons-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0px;

  width: 300px;
  height: 123px;
}

.materials-icon {
  background-color: #ffbf47;

  margin-right: 20px;
}

.instruments-icon {
  background-color: #3bbce3;

  margin-right: 20px;
}

.machines-icon {
  background-color: #dc91d8 ;
}

.sale-icon {
  background-color: #8ed78f;
}

.delivery-icon {
  background-color: #ffc047 ;

  margin-top: 20px;
}

.icons-button {
  color: white;
  background-color: rgba(0,0,0,0.1);

  display: block;
  width: 135px;
  height: 38px;
  margin-left:23px;
  margin-bottom:22px;
}

.icons-button:hover {
  color: white;
  background-color: rgba(0,0,0,0.2);
}

.icons-button:active {
  color: white;
  background-color: rgba(0,0,0,0.3);
}

.icons-bottom-container {
  display: flex;
  flex-direction: column;
}

.icons-bottom p {
  margin:0px;
  margin-left: 23px;
  margin-top: 26px;
}

.slider-1 {
  margin: 0;
  padding: 0;
}

.slide-1 {
  position: relative;
}

.slide-1 h2 {
  position: absolute;
  margin:0px;
  top:22px;
  left:24px;

  font-size: 36px;
  line-height: 36px;
  color:white;
  text-transform: uppercase;
}

.slide-1 p {
  position: absolute;
  margin:0px;
  top:65px;
  left:25px;
  color:white;
  text-transform: uppercase;
}

.slide-2 {
  display: none;
}

.slider-1,
.round-buttons {
  list-style: none;
}

.open-catalog {
  display: block;
  position: absolute;
  width: 195px;
  height: 38px;
  left:25px;
  bottom:22px;
  }

.arrows,
.round-buttons {
  position: absolute;
}

.round-buttons {
  top:748px;
}
/*Большие иконки и слайдер КОНЕЦ*/



/*Популярные товары Заголовк + Кнопка*/

.popular-items-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;

  background-color:#f9f5f0;
}

.popular-items-name a {
  margin-right: 79px;
  padding: 14px 55px 14px 55px;

  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color:white;
  text-transform: uppercase;
}

.popular-items-name h2 {
  padding-left: 30px;

  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.popular-items-name a:hover {
  background-color: #ca2c37;
}

.popular-items-name a:active {
  background-color: #ba2732;
}
/*Популярные товары Заголовк + Кнопка КОНЕЦ*/

/*Популярные товары*/

.popular-items-list {
  display: flex;

  list-style: none;
  padding: 0px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-left: 22px;
  padding-bottom: 21px;
}

.catalog-item:nth-child(1) {
  margin-left: 0px;
}

.catalog-category {
  margin:0px;
  padding-right: 33px;
  padding-left: 32px;
  margin-bottom: 18px;
}

.catalog-item-price {
  display: block;
  width: 141px;
  height: 38px;
  margin:0px;

  font-size: 17px;
  line-height:18px;
  color: white;
  background-color: #ee3643;
}

.open-catalog,
.credit a {
 background-color: #ee3643;
 font-size: 14px;
 line-height: 18px;
 color:white;
 text-transform: uppercase;
}

.open-catalog:hover,
.credit a:hover {
  background-color: #ca2c37;
}

.open-catalog:active,
.credit a:active {
  background-color: #ba2732;
}

.catalog-category {
  color: black;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

/*Популярные товары КОНЕЦ*/

/*Популярные производители*/

.popular-producers-list {
  list-style: none;
  padding: 0px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 65px;

}

.popular-producers-list li {

  margin-bottom: 20px;
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
}

.popular-producers-list li:nth-child(4n) {
  margin-right: 0px;
}

.popular-producers-list li:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-producers-list li:active,
.popular-producers-list li:focus {
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
}


/*Популярные производители Заголовк + Кнопка*/
.popular-producers {
  background-color:#f9f5f0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-producers h2 {
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;

  padding-left: 30px;
}

.popular-producers a {
 background-color: #ee3643;
 font-size: 14px;
 line-height: 18px;
 color:white;
 text-transform: uppercase;

 margin-right: 70px;
 padding: 13px 70px 13px 69px;
}

.popular-producers a:hover {
  background-color: #ca2c37;
}

.popular-producers a:active {
  background-color: #ba2732;
}

/*Популярные производители Заголовк + Кнопка КОНЕЦ*/

/*Сервис и Доставка*/

.service {
  background-color: #f4f7f9;
}

.service h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;

  padding-top: 68px;
  padding-left: 1px;
  padding-bottom: 38px;
  margin: 0px;
}

.service p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;

  margin: 0px;
}

.service-description  {
  display: block;
  width: 398px;
  height: 37px;
  margin: 0px;
  padding-bottom: 74px;
}

.service-slider-menu {
  display: flex;
  padding: 0px;

}

.service-slider {
  list-style: none;

  margin: 0px;
  padding: 0px;

  width: 700px;
}

.service-slider p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.service-slider li {
  display: flex;
}

.service-slider li:nth-child(1) {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.service-slider li:nth-child(2) {
  display: none;

  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.service-slider li:nth-child(3) {
  display: none;

  position:relative;

  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.delivery-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 80px;
  margin-bottom: 135px;
  padding-top: 0px;
}

.delivery-text p {
  display: block;
  width: 275px;
  height: 83px;
  margin: 0px;
}

.guarantee-text {
  display: flex;
  flex-direction: column;

  margin-left: 80px;
  margin-bottom: 135px;
}

.guarantee-text p {
  display: block;
  width: 379px;
  height: 109px;
  margin: 0px;
}

.credit-text {
  display: flex;
  flex-direction: column;

  margin-left: 80px;
  margin-bottom: 135px;
}

.credit-text p {
  display: block;
  width: 279px;
  height: 36px;
  margin: 0px;
}

.credit-button {
  position:absolute;
  display: block;
  width: 195px;
  height: 38px;
  margin: 0px;
  left: 80px;
  bottom: 66px;

  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color:white;
  text-transform: uppercase;
  text-align: center;
}

.credit-button:hover {
  background-color: #ca2c37;
}

.credit-button:active {
  background-color: #ba2732;
}

.service-menu {
  list-style: none;

  padding: 0px;
  margin: 0px;
}

.service-menu .button {
  color: white;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;

  width: 240px;
  height: 61px;
  background-color: #32425c;
  border: none;
  box-shadow: inset 0px 1px 0px 0px #405069;
  box-shadow: outset 0px 1px 0px 0px #293449;
}

.service-menu .button:hover {
  background-color: #293449;
  color: white;
}

.service-menu .button:active,
.service-menu .button:focus {
  background-color: white;
  color: #32425c;
}

.service-slider h3 {
  color: #32425c;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;

  margin-top: 5px;
}



/*Сервис и Доставка КОНЕЦ*/

/*INDEX MAIN END*/



/*CATALOG*/

/*ХЛЕБНЫЕ КРОШКИ*/
.breadcrumbs a {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: black;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  text-decoration: underline;
  color:blue;
}

/*ХЛЕБНЫЕ КРОШКИ КОНЕЦ*/

/*Фильтр*/

.filter {
  color: black;

}

.filter  h2 {
  color:black;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

fieldset legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter fieldset {
  border: none;
}

.filter .button {
  background-color: white;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Customize the label (the container) */
.filter-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}

.filter-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}

/* Hide the browser's default checkbox */
.filter-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  border:2px solid #c5c5c5;
}

.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  border:2px solid #c5c5c5;
  border-radius: 50%;
}

.filter-checkbox input:checked ~ .checkmark-box,
.filter-radio input:checked ~ .checkmark-radio {
  border:2px solid #c5c5c5;
}

/* On mouse-over, add a grey background color */
.filter-checkbox:hover input ~ .checkmark-box,
.filter-checkbox:hover input ~ label {
  border-color: #b5b5b5;
  color: #b5b5b5;
}

.filter-radio:hover input ~ .checkmark-radio,
.filter-radio:hover input ~ label {
  border-color: #b5b5b5;
  color: #b5b5b5;
}

.filter-checkbox:checked:hover input ~ .checkmark-box {
  border-color: #b5b5b5;
}

.filter-radio:checked:hover input ~ .checkmark-radio {
  border-color: #b5b5b5;
}

/* When the checkbox is checked*/
.filter-checkbox input:disabled ~ .checkmark-box {
  opacity:0.3;
}

.filter-checkbox input:checked:disabled ~ .checkmark-box {
  opacity:0.3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* ??? Show the checkmark when checked */
.filter-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.filter-checkbox .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/*Фильтр КОНЕЦ*/

/*СОРТИРОВКА*/
.sorting {
  background-color: #f7f3ec;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.sorting-list,
.pagination-list {
  list-style: none;
}

.sorting  h2 {
  color:black;
  font-size: 13px;
  line-height: 18px;
}

.sorting a {
  color:rgba(0, 0, 0, 0.18);
  text-decoration: underline;
}

.sorting a:hover {
  color:black;
}

.sorting a:focus,
.sorting a:active {
  color:#ee3643;
  text-decoration: none;
}

/*СОРТИРОВКА КОНЕЦ*/

/*ПАГИНАЦИЯ*/

.pagination-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;

  width: 38px;
  height: 38px;
  }

.next {
  width: 140px;
  height: 38px;
}

.pagination-item a {
  color: black;
}

.pagination-item:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

.pagination-item:focus {
  background-color:#ee3643;
  color: white;
}

/*ПАГИНАЦИЯ КОНЕЦ*/

.page-main h1 {
  background-color:#f2f6f8;
  color: #32425c;
  text-transform: uppercase;
  font: inherit;
  font-size: 30px;
}

.catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.catalog-category {
  font-size: 18px;
  color: black;
}

.sale-price {
  font-size: 17px;
  color:#999999;
  text-decoration: line-through;
  margin:0px;
  margin-bottom: 13px;
}


/*Кнопки Купить и Взакладки Скрытые*/
.on-hover {
  text-transform: uppercase;
  display: none;
}

.buy-button {
  background-color:#63a63e;
  color: white;
  box-shadow: 0px 3px #367315;
}

.bookmark-button {
  background-color:white;
  border: 3px solid #63a63e;
  color: #32425c;
}

.buy-button:hover {
  background-color:#5fbb2d;
}

.buy-button:active {
  background-color:#518534;
  box-shadow: none;
}

.bookmark-button:hover {
  border: 3px solid #32425c;
}

.bookmark-button:active {
  opacity: 0.3;
}
/*Кнопки Купить и Взакладки Скрытые КОНЕЦ*/


/*CATALOG END*/


/*Index О компании и Контакты*/

.about-and-contacts .container {
  display: flex;
  padding:0px;
  margin-top:82px;
  margin-bottom:86px;
}

.about {
  font: inherit;
  color: black;
  background-color: white;

  width: 519px;
  margin:0px;
  padding:0px;
  margin-right:120px;

  outline: 2px solid red;
}

.contacts {
  font: inherit;
  color: black;
  background-color: white;

  width: 300px;
  margin:0px;

  outline: 2px solid red;
}

.about h2,
.contacts h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;

  outline: 2px solid red;
  margin:0px;
  padding:0px;
  margin-bottom:38px;
}

.about p,
.contacts p {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;

  outline: 2px solid red;
  margin:0px;
  padding:0px;
  margin-bottom:36px;
}

.about-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 386px;
  height: 161px;

  list-style:none;
  font: inherit;
  font-weight: 500;
  line-height: 24px;

  padding: 0px;
  margin-bottom:37px;

  outline: 2px solid yellow;
}

.about-list li {
  font-size:18px;
  line-height: 20px;
}

.about-list li:nth-child(1) {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;

  padding-bottom: 0px;
  padding-top:0px;
  margin: 0px;
  outline: 2px solid yellow;
}

.about .button,
.contacts .button {
  background-color:#ee3643;
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: none;
}

.contacts .button {
  margin-top:40px;
  display: block;
  width: 300px;
  height: 38px;
}

.about .button {
  margin:0px;
  width: 220px;
  height: 38px;

  outline: 2px solid yellow;
}

.about .button:hover,
.contacts .button:hover {
  background-color: #ca2c37;
}

.about .button:active,
.contacts .button:active {
  background-color: #ba2732;
}

/*Index О компании и Контакты КОНЕЦ*/


.modal-contact {
  width: 620px;
  height: 430px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.red-shadow {
  box-shadow: 0px -7px 0px  0px #ee3643;
}

.modal-contact label {
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  color:black;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #dee3e4;
}

.contact-form input:hover,
.contact-form textarea:hover {
  border: 2px solid  #b5b5b5;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid  #ee3643;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color:#a9a9a9;
}

.contact-form-bottom {
  background-color: #f4f4f4;
}

.contact-form .button {
  background-color: #ee3643;
  color: white;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  border:none;
}

.modal-map img {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.modal-catalog {
  width: 620px;
  height: 282px;
  box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
}

.busket-success {
  color: black;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
}

.modal-catalog-bottom {
  background-color: #f4f4f4;
}

.finish-order {
  background-color: #ee3643;
  color: white;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  border:none;
}

.modal-continue {
  background-color: white;
  color: black;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  border:none;
}

.modal-continue:hover {
  color: #ee3643;
}

.modal-continue:active {
  opacity:0.3;
}

.finish-order:hover,
.contact-form .button:hover {
  background-color: #ca2c37;
}

.finish-order:active,
.contact-form .button:active {
  background-color: #ba2732;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*FOOTER*/
footer {
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu {
  width: 547px;
  display: flex;
  flex-wrap: wrap;
  padding:0px;
  margin:0px;
  margin-top:42px;

  outline: 2px solid yellow;
}

.footer-menu a {
  padding:0px;
  margin:0px;
  margin-left:60px;
  outline: 2px solid yellow;
}

.footer-top .logo {
  width: 220px;
  height: 68px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.24);

  margin-bottom:32px;

  background-color:#ee3643;
  background-image: url(../img/logo-top.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  vertical-align: middle;
}

.logo:hover {
  background-color:#ca2c37;
}

.logo:active {
  background-color:#ba2732;
}

.footer-top a {
  color: white;
}

.adress-phone {
  color: #f3f7f9;
  width: 322px;
  height: 40px;
}


.footer-bottom {
  background-color: #293449;
}

.footer-bottom a {
  color: #ffd180;
  font:inherit;
  font-size:16px;
}

.footer-social {
  list-style: none;
}

/*FOOTER END*/
